<footer class="footer" style="background-color: grey;">
    <div class="container" style="color:aliceblue">
      <div class="row">
        <div class="col-md-4">
          <h5 style="color:blanchedalmond">About Us</h5>
          <p>Learn more about our mission and values.</p>
          <a routerLink="/about" class="btn btn-link" style="color:black">Read More</a>
        </div>
        <div class="col-md-4">
          <h5 style="color:blanchedalmond">Queries</h5>
          <p>If you have any questions, feel free to reach out!</p>
          <a routerLink="/contact" class="btn btn-link" style="color:black">Contact Us</a>
        </div>
        <div class="col-md-4">
          <h5 style="color:blanchedalmond">Connect With Us</h5>
          <p>Follow us on social media:</p>
          <a href="https://facebook.com" target="_blank" class="btn btn-link" style="color:black">Facebook</a>
          <a href="https://twitter.com" target="_blank" class="btn btn-link" style="color:black">Twitter</a>
          <a href="https://instagram.com" target="_blank" class="btn btn-link" style="color:black">Instagram</a>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <p>&copy; {{ currentYear }} Deutsche Telekom Digital Labs. All rights reserved.</p>
    </div>
  </footer>
  